@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    margin-left: 37%;
  }

  #hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    text-align: center;
    padding: 0 110px;
    border-bottom: none;
    line-height: 2;
  }
}

.nav-link span {
  color: #ff9900;
}

.hero-container p {
  width: 550px;
}

#hero p span {
  border-bottom: 1px solid #ffffff;
  color: #ff9900;
  font-weight: 900;
}

.justify {
  text-align: justify;
}

.resume .resume-title {
  background: #ff9900;
  padding: 10px;
}

.section-title {
  padding-bottom: 0px;
}

.services .icon {
  background: #ff9900;
  border: 1px solid #ff9900;
}

.services .icon i {
  color: #000;
}

.contact-p {
  margin-bottom: 25px !important;
  font-size: 25px;
}

.section-title p {
  margin-bottom: 10px;
}

.contact {
  padding-bottom: 0;
}

section#resume,
section#services,
section#skills,
section#facts,
section#testimonials,
section#contact,
section#about {
  padding: 30px 0;
}

section#skills {
  padding: 30px;
}

.about-section .img-fluid {
  border-radius: 50%;
  border: 5px solid #999;
  box-shadow: 2px 10px 12px -2px;
  width: 80%;
  margin-left: 10%;
}
